body{
  background-image: url(background.png);
  background-size:cover;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
/* Stile Contenitore */
.container {
  width: 65% ;
  background-color:rgba(0,0,0,0.5);
  height: 600px;
  margin:auto;
  border-radius: 2%;
  margin-top: 2%;
}
/* Stile Titolo e Logo */
#Titolo{
    text-align: center;
    color: rgb(0,225,0);
  }
#logo{
  width: 21%;
  padding-top: 7%;
}
/* Stile  padre header e figlio h2 */
header>h2{
    margin-block-end: 3px;
    margin-block-start:2px;
    margin-right:  45px;
    margin-top: 5px;
    font-size: 19px;
}
/* Stile degli Input e Form */
nav{
  background-color: rgb(0,225,0);
  width: 86%;
  text-align: center;
  margin-left:5%;
  height: 6%;
}
form{
margin-left: 5%;
margin-top: 8px;
}
.button{
    margin-top: 9px;
    font-size: 9px;;
  }
.checkbox{
  margin:auto;
  margin-top: 16px;
}
/* Stile Contenuto Principale e barra di carica */
p{
  font-size: 12px;
  margin-left: 5%;
  margin-top: 0px;
  margin-bottom: 2px;
  color: lightgrey;
}
.Stato{
  font-size: 12px;
}
.carica{
  background-color: #e9ca67;
  width: 33%;
}
main>div{
  height: 25px;
  border-radius: 5px;
  margin-left: 5%;}
.carica1{
  background-color:rgb(0 213 46);
  width: 55%;
}
.carica2{
  background-color:rgb(154 66 40);
  width: 13%;
  height: 22px;
}
/* Stile Footer */
footer{
  margin: 60px 0px 0px 350px;
}
